@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
/* in body : 
background-color: is the background of everything
color: is the color of all the text in upper box like X Coordinate, y Coordinate, z Coordinate
 */

body {
    background-color: #0e0e0e;
    font-family: Arial, sans-serif;
    color: #c0bbbb;
    margin: 0;  /* Remove default margin */
    padding: 0;  /* Remove default padding */
}
/* header is the top most header which reads "AutoPipette Machine Control Panel" */

.header {
    background-color: #4b4c4d;
    color: white;
    padding: 20px;  /* Reduce padding for a smaller header */
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;  /* Space below the header */
    font-size: 24px;  /* Decrease font size */
    width: 100%;  /* Make sure header spans full width */
}
.header i {
    margin-right: 10px;
}
.btn {
    background-color: #707578;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.btn:hover {
    background-color: #414446;
}
.btn i {
    margin-right: 8px;
}
/* sidebar is the background of the cordinate section/upper most box  */
.sidebar {
    background-color: #323335;
    padding: 15px;
    border-radius: 8px;
    min-width: 250px;  /* Set a minimum width for the sidebar */
}
/* Card is the output section in the right */
.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.d-flex {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping to fit content */
}
.flex-column {
    flex-direction: column;
}
.justify-content-start {
    justify-content: flex-start;
}
.ml-3 {
    margin-left: 1rem;
}
/* background-color in right section is the color of the div of the protocol section */

.right-section {
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    /* min-width: 200px; */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    /*flex-grow: 1;   Allow right section to grow */
    /*margin-left: 20px;   Add some space between the content and right section */
    min-width: 250px; 
    height: 500px; /* Set a fixed height to make it longer */

}
.main-content {
    flex: 1;  /* Let the main content take available space */
}
.protocol-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
}


.current_coordinates_row {
    display: flex;           /* Make the div a flex container */
    justify-content: space-between;  /* Distribute the inputs with space between */
    background-color: rgb(137, 139, 137);
    margin: 2px;
}

.current_coordinates_row .shiny-input-container {
    width: 100px;  /* Set width for each input */
    margin-right: 10px;  /* Optional: Add space between inputs */
}